
<form #f1="ngForm" (ngSubmit)="onSubmit(f1)" >
  <div class="form-group">
    <label for="nome">Email address</label>
    <input type="text" name="nome" [ngModel]="usuario.nome"
    class="form-control" id="nome" placeholder="Nome" required
    #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched">
    <div *ngIf="!nome.valid && nome.touched"  >
      Nome é obrigatório
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" name="email" [ngModel]="usuario.email"
    class="form-control" id="email" placeholder="email" required email>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!f1.valid">Submit</button>
</form>


<app-form-debug [form]="f1"></app-form-debug>